* {
    margin: 0px;
    box-sizing: border-box;
}

html, body {
    background-image: url(../images/greyzz_@2X.png);
    height: 100%;
}

.page-wrap {
    min-height: 100%;
    margin-bottom: -50px;
}

.page-wrap:after {
    content: "";
    display: block;
}

.page-wrap:after {
    height: 50px;
}


/* This section for across the top of the page. */

.upborder {
    background-color: #ffffff;
    border-bottom: solid 5px #cccccc;
    height: 85px;
    width: 100%;
}

.top {
    overflow: auto;
    width: 960px;
    margin: 0 auto;
}

header {
    float: left;
    background-color: #4aaaa5;
    text-align: center;
    height: 80px;
    padding: 0px 15px 0px 15px;
}

h1 {
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 25px 10px 25px 10px;
}

ul {
    padding: 0;
}

#links {
    float: right;
    color: #777777;
    font-family: Arial, 'Helvetica neue', Helvetica, sans-serif;
    letter-spacing: 0.5px;
    height: 100%;
    text-align: center;
}

#index {
    display:inline-block;
    border-right: solid 2px #777777;
    margin: 35px 0px 35px 0px;
    list-style-type: none;
    width: 75px;
}

#portfolio {
    display:inline-block;
    padding: 0px 10px 0px 8px;
    border-right: solid 2px #777777;
    margin: 35px 0px 35px 0px;
    list-style-type: none;
    width: 90px;
}

#contact {
    display:inline-block;
    padding: 0px 0px 0px 8px;
    border-right: solid 2px #ffffff;
    margin: 35px 0px 35px 0px;
    list-style-type: none;
    width: 75px
}

a:hover {
    font-weight: bold;
    letter-spacing: 0px;
}


/* Middle content of the page */

.content {
    clear:both;
    width: 960px;
    background-color: #ffffff;
    border: solid thin #dddddd;
    margin: 30px auto 30px auto;
    padding: 20px;
    position: relative;
    overflow: auto; 
}

h2 {
    color: #777777;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 20px;
}

p {
    color: #777777;
    font-family: Arial, 'Helvetica neue', Helvetica, sans-serif;
    padding: 10px;
}


/* Content Elements only on index */

#stacypic {
    float: left;
    height: 50%;
    width: 18%;
    margin: 20px;
}


/* Content Elements only on portfolio */

#portfolioContainer {
    height: 840px;
}

.portfolioPictures {
    position: relative;
    height: auto;
    width: 40%;
    margin: 20px 20px 20px 20px;
    border: solid thin #777777;
    opacity: 1;
    float: left;
    line-height: 0;
}

.imageOnly {
    height: 100%;
    width: 100%;
    object-fit: fill;
}

.portfolioPictures:hover {
    opacity: 0.5;
}

.label {
    position: absolute;
    bottom: 15px;
    background-color: #4aaaa5;
    color: #ffffff;
    width: 100%;
    height: 23%;
    font-family: Arial, 'Helvetica neue', Helvetica, sans-serif;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Content Elements only on contact */

form {
    padding: 10px;
    color: #777777;
}

input, textarea {
    border: solid thin lightgrey;
}

#button {
    background-color: #4aaaa5;
    color: #ffffff;
    text-align: center;
    border: solid thin #dddddd;
    padding: 10px;
    margin-top: 10px;
    font-size: large;
    border-radius: 10px;
    box-shadow: 0px 5px lightgrey;
    position: relative;
    font-family: Arial, 'Helvetica neue', Helvetica, sans-serif;
}

#button:active {
    box-shadow: 0px 1px darkgrey;
    top: 4px;
}


/* Footer across bottom of page */

footer {
    color: #777777;
    font-family: Arial, 'Helvetica neue', Helvetica, sans-serif;
    background-color: #666666;
    text-align: center;
    padding-bottom: 0;
    padding-top: 20px;
    margin-top: 10px;
    border-top: solid 8px #4aaaa5;
    height: 50px;
    width: 100%;
}

/* Media Queries; 980px, 768px, 640px */

@media screen and (max-width : 640px) {

    .top, .content {
        width: 100%;
    }
    header, #links, #stacypic {
        float: none;
    }
    header {
        position: static;
        height: auto;
    }
    .upborder {
        height: auto;
    }
    #stacypic {
        width: 100%;
        height: auto;
    }
    #portfolioContainer {
        overflow: auto;
    }
    .portfolioPictures {
        height: auto;
        width: 100%;
        margin: 20px 0px 20px 0px;
        float: none;
    }
    .label {
        font-size: 16px;
        height: 40%;
    }
    textarea {
        max-width: 100%;
    }   
}

@media screen and (max-width : 768px) {
    .top, .content {
        width: 100%;
    }
    #stacypic {
        width: 30%;
        height: 50%;
    }
    .portfolioPictures {
        width: 40%;
        height: auto;
    }
    .label {
        font-size: 24px;
        height: 30%;
    }
}

@media screen and (max-width : 980px) {
    .top, .content {
        width: 100%;
    }
}